@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+PT+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@160..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    margin-bottom:30px;
    display: flex;
}



#s1{
    height: 300px;
}




.estrofe1 ,.estrofe2,.estrofe3,.estrofe4,.estrofe5,.estrofe6{
    padding: 20px;
    font-size: 20px;
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    
   
}


#foto1{
    width: 100%;
    background-color: red;
    height: 500px;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
}

    
.estrofe2 p{
    background-color: rgba(3, 3, 3, 0.151);
    color: white;
    padding: 20px;
}


#foto2{
    width: 100%;
    background-color: red;
    height: 500px;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.estrofe4 p {
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    padding: 20px;
}

#s3{
    height: 300px;

}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.281);
    
}

p  {
    font-family: 'poppins';
}

h1{
    font-family: 'poppins';
}


@media(max-width:400px){

header{
    height: 100px;
}


header h1 {
    font-size: 20px;
}

header p{
    font-size: 10px;
}


#foto1{
    background-position: right center;
}



}