@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 100vh;
}

header{ 
    width: 100%;
    height: 100px;
    background-color: #FFE600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cima{
    width: 1200px;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.baixo{
    width: 1200px;
    height: 50px;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.img{
    width: 162px;
    height: 40px;
    
    display: flex;
}

.img2{
    width: 340px;
    height: 40px;
    
}

.img2 img{
    width: 100%;

}

.img img{
    width: 100;
}

.search{
    width: 588px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    
}

.btn-pesquisa{
    width: 46px;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.329);
    justify-content: center;
    cursor: pointer;
}


#search{
    width: 542px;
    border: none;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
}



.cep{
    width: 162px;
    height: 40px;
    
    padding: 0px 10px;
    display: flex;
    
}

.location{
    width:30px;
    height: 100%;
    
    align-items: center;
    justify-content: center;
    display: flex;
}
.location img{
    width: 30px;
    height:auto;
}
.div-texto-cep{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categorias{
    width: 588px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias ul { 
    display: flex;
    font-size: 14px;
    list-style: none;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 340px;
    height: 40px;
    
    display: flex;
    justify-content:end;
    align-items:center;
}

.menu ul {
    display: flex;
    font-size: 14px;
    list-style: none;
    gap: 8px;
}




#menucelular{
    display: none;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 134px;
    background-color: FFE600;
    border-top: 1px solid grey;
    padding: 8px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    
}

.perfil-foto{
    display: flex;
    height: 60px;
    width: 100%;
}

.foto-perfil{
    width: 70px;
    border-radius: 100%;
    height: 100%;
    background-color: grey;
    margin-right: 16px;
}

.texto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:7px
}

.buttons-menu{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons-menu a{
    width: 164px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
}
.navgation{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding:20px ;
    gap: 50px;
    justify-content: space-around;
}

 .navgation ul {
    flex-direction: column;
    display: flex;
    gap: 30px;
    margin-left: -20px;
    width: 370px;
        
 }

 .navgation li{
        display: flex;
        width: 100%;
        
        gap: 3px;
        align-items: center;
       padding: 0px 20px;
        
    }
    .navgation .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:8px;
    }
 
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

   



.footer{
   
        
    width: 100%;
    height: 400px;
   background-image: url('https://http2.mlstatic.com/D_NQ_630907-MLA81498722886_012025-OO.webp');
   background-position:center;
   background-size:cover;
   background-repeat:no-repeat ;
   display: flex;
   flex-direction: row;
   
   
}


.img2{
    width: 100%;
    
}



.img-footer{
    width: 100%;
    height: 100px;
    
    position: absolute;
    top: 450px;
    right: 50;
    background: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
 z-index: 1;
    backdrop-filter: blur(4px); /* Aplica o desfoque ao fundo */
}


@media(max-width:700px){
    .search{
        width: 350px;
       
        
    }
    


    .cima{
        justify-content:center;
        display: flex;
        gap: 40px;
        width: 700px;
       
    }

    .baixo{
        justify-content: space-around;
        width: 700px;
        padding: 0px 40px;
    }
    
    .categorias{
        display: none;
    }

    .menu li {
         display: none;
    }

    .menu{
        display: flex;
        width: 100%;
        
        
    }
    .icone-seta{
        width: 40px;
        height: 30px;
        cursor: pointer;
    }

    .img2 img{
        display: none;
    }
.cep{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

.remov1{
    display: none;
}

.remov2{
    display: none;
}
.div-texto-cep{
    flex-direction: row;
}

.tablet-text{
    font-size: 13px;
}

.menu-hamburguer {
    width: 30px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    
   
}

.menu-hamburguer .linha {
    width: 100%;
    height: 4px;
    background-color: #000000;
    border-radius: 2px;
    transition: 0.3s;
}


.img2{
    
    width: 100px;
    display: flex;
    gap: 20px;
    
   
    
}
   
.img{
    
    width: 100px;
}
.img img{
    width: 100%;
    height: auto;
}

    
}

@media(max-width:370px){
   header{
    width: 100%;
   }

   .cima{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 0;
   }
   .img2{
    padding: 0;
    display: flex;
    gap: 5px;
    width: auto;
    justify-content: space-around;
   }

   .search{
    
    width: 220px;
   }

   #search{
    width: 200px;
   }

   .baixo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
   }

   .menu{
   width: auto;
   }
   .cep{
    width: auto;
   }

   .menu-hamburguer {
    width: 25px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    
   
}

.menu-hamburguer .linha {
    width: 100%;
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
    transition: 0.3s;
}
.icone-seta{
    width: 20px;
    height: 20px;
}
.img {
    display: none;
}
.img-cell{
    width: 40px;
    display: flex;
    height:auto;
    
}
.img-cell img{
    width: 100%;
}
.svg-carrinho{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 171px;
    background-image: none;
}

.img-cell-corpo{
    width: 100%;
    height:100%;
    display: flex;
}



.img-cell-corpo img{
    width: 100%;
}

.img-footer{
    display: none;
}



}

@media(min-width:370px) and (max-width:1980px){
    .tablet-text{
        display: none;
        
    }
    .container-hamburguer{
        display: none;
    }
    .svg-carrinho{
        display: none;
    }

    .icone-seta{
        display: none;
    }
    .img-cell{
        display: none;
    }
    .img-cell img{
        display: none;
    }
    #menucelular{
        display: none;
    }

    .img-cell-corpo{
        display: none;
    }
}

